.content {
    min-height: 100px;
    width: 90%;
    margin-bottom: 24px;
}

.steps-container {
    margin-top: 15px;
    min-height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 4px;
}


Button {
    margin-bottom: 5px;
    width: 100px;
}

