@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500&display=swap');

.centralize-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centralize-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text-nunito {
    font-family: 'Nunito', sans-serif;
}